# Git ignore file
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*~
*.aux
*.log
*.lot
*.ttt
*.out
*.bbl
*.Rhistory
*.html
*.md
*.RData
*.tex
*.fdb_latexmk
*.fls
*.toc
*.lof
*.fff
*.blg
*.bcf
*.rec
*.run.xml
*.zip
manuscripts/cache/*
manuscripts/auto/*
manuscripts/model-interrogation_cache/*
manuscripts/model-interrogation_files/*
*.rds
.txt
.DS_Store