# Git ignore file
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*~
*.aux
*.log
*.lot
*.ttt
*.out
*.bbl
*.Rhistory
*.html
*.md
*.RData
*.tex
*.fdb_latexmk
*.fls
*.toc
*.lof
*.fff
*.blg
*.bcf
*.rec
*.run.xml
paper/cache/*
paper/auto/*
stan/*.rds
.txt
.DS_Store